<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>More Recipes</title>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Raleway+Dots|Raleway:400,400i,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="css/landing_page.css">
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      
      <div id="logo-container">
        <a href="#" class="brand-logo">
          <img style="height:56px;vertical-align:middle" src="images/logo.jpg" alt=""> 
        </a>
      </div>
      
      <ul class="right hide-on-med-and-down">
        <li><a href="catalog.html">Browse Catalog</a></li>
        <li><a href="signup.html">Sign Up</a></li>
        <li><a href="signin.html">Sign In</a></li>
        <li><a id="about-btn" href="#">About</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="catalog.html">Browse Catalog</a></li>
        <li><a href="signup.html">Sign Up</a></li>
        <li><a href="signin.html">Sign In</a></li>
        <li><a href="#">About</a></li>
      </ul>
      
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    
    <div class="section no-pad-bot">
      
      <div class="container">
        <br><br>
        <h1 class="header center grey-text text-darken-4" style="font-family:Crete Round">More Recipes</h1>
        <div class="row center">
          <h5 class="header col blue-grey-text text-darken-4 s12" style="font-family:Raleway;font-style:italic" >We Know You Love to Try New things.... Especially New Tastes</h5>
        </div>
        
        <div class="row center">
          <a href="#" id="download-button" style="margin-top:4em" class="btn-browse-catalog btn-large waves-effect waves-light grey darken-4 lighten-1">Browse catalog</a>
        </div>
        <br><br>
      </div>

    </div>

    <div class="parallax"><img style="display:block" src="images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>
  
  <div class="container">
    <div class="section">
      <div id="about-section" class="row">

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
              <img src="images/discover.png" class="responsive-img" style="height:50px;width:50px" alt="">
            </h2>
            <h5 class="center">Discover Exciting Recipes</h5>

            <p class="light">Browse through a rich base of interesting and exciting recipes from lovers of new tastes like you</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">share</i></h2>
            <h5 class="center">Share Your Combinations</h5>
            <p class="light">You love discovering new tastes and exciting combinations - Share sensational discoveries with other taste lovers and get exciting reviews that drives you to do more</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
              <img src="images/review_icon.png" class="responsive-img" style="height:50px" alt="">
            </h2>
            <h5 class="center">Review And Improve</h5>
            <p class="light">Rate, assess, react, suggest....... and recipes can even be transformed into stimulating adventures.</p>
          </div>
        </div>

      </div>
    </div>
  </div>    

  <div class="divider" style="margin-left:3em;margin-right:3em"></div>  
  <div class="section">
    <h5 style="font-style:italic;text-align:center">Featured Recipes</h5>
  </div>

  <!-- recipe gallery -->
  <div id="recipe-gallery">
    <a class="recipe-gallery-links" href="recipe_info.html">
      <div class="recipe">
        <div class="card">
          <div class="card-image">
            <img src="images/sample_recipes/Amala-and-efo.jpg">
          </div>
          <div class="card-content">
            <span class="card-title">Amala and Efo Riro</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <div>
              <span><i class="material-icons">thumb_up</i>5</span>
              <span><i class="material-icons">thumb_down</i>10</span>
              <span><i class="material-icons">star</i>50</span>  
            </div>
          </div>
        </div>  
      </div>
    </a>
    
        
    <div class="recipe">
      <div class="card">
        <div class="card-image">
          <img src="images/sample_recipes/DSC04065.JPG">
        </div>
        <div class="card-content">
          <span class="card-title">Ewa Agoyin With Special Soup</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>  
    </div>
        
    <div class="recipe">
      <div class="card">
        <div class="card-image">
          <img src="images/sample_recipes/Fried-slaw-crack-slaw-recipe-low-carb-keto-nigerian-.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">Fried Slaw Low Carb Keto</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>  
    </div>
    
    <div class="recipe">
      <div class="card">
        <div class="card-image">
          <img src="images/sample_recipes/recipe0116-xl-farro-with-vinegar-glazed-sweet-potato-and-apples.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">Farrow with vinegar, glazed sweet potato and apples</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>      
    </div>
        
    <div class="recipe">
      <div class="card">
        <div class="card-image">
          <img src="images/sample_recipes/Amala-and-efo.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">Amala and Efo Riro</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>      
    </div>
        
    <div class="recipe">
      <div class="card">
        <div class="card-image">
          <img src="images/sample_recipes/DSC04065.JPG">
        </div>
        <div class="card-content">
          <span class="card-title">Ewa Agoyin With Special Soup</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>      
    </div>
        
    <div class="recipe">
      <div class="card">
        <div class="card-image">
          <img src="images/sample_recipes/recipe0116-xl-farro-with-vinegar-glazed-sweet-potato-and-apples.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">Farrow with vinegar, glazed sweet potato and apples</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>      
    </div>

    <div class="recipe">
      <div class="card">
        <div class="card-image">
          <img src="images/sample_recipes/Amala-and-efo.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">Amala and Efo Riro</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>  
    </div>
        
    <div class="recipe">
      <div class="card">
        <div class="card-image">
          <img src="images/sample_recipes/DSC04065.JPG">
        </div>
        <div class="card-content">
          <span class="card-title">Ewa Agoyin With Special Soup</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>      
    </div>

  </div>
  
  <div class="row center" style="margin-top:6em">
    <a href="catalog.html" id="download-button" class="btn-large waves-effect waves-light grey darken-4 lighten-1">view entire catalog</a>
  </div>
</body>

<footer class="page-footer" style="margin-top:8em;background-color:#444">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    
    </div>
  </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="js/util.js"></script>
</body>
</html>