<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Title Of Recipe</title>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis|Lato:400,400i,700,700i|Lobster|Open+Sans+Condensed:300|Open+Sans:400,400i|Raleway:400,400i,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="css/recipe_info.css">
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      
      <div id="logo-container">
        <a href="catalog.html" class="brand-logo">
          <img style="height:56px;vertical-align:middle" src="images/logo.jpg" alt="">
          <h5 style="display:inline-block;font-family:Lobster;font-size:1.4rem">MoreRecipes</h5> 
        </a>
      </div>
      
      <ul class="right">
        <li><a href="userprofile.html"><i style="font-size:3rem" class="large material-icons">account_circle</i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About</a></li>
      </ul>
      
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container" id="container-section">
    <div class="row" id="recipe-info">
      <div class="col l4" style="margin-top:-4rem"> <!-- recipe info section -->
        <h5 class="title" style="padding-left:1rem">Ewa Agoyin and Vegetable Soup With Vinegar Varo</h5>
        <div class="divider" style="margin:0 1rem"></div>
        
        <div> <!-- images -->
          <div style="margin-top: 1rem;"> <!-- main image -->
            <img src="images/sample_recipes/Fried-slaw-crack-slaw-recipe-low-carb-keto-nigerian-.jpg" alt="" style="width: 100%;padding: 1rem;">
          </div>
          
          <div class="thumbnails row"> <!-- thumbnails -->
            <div class="col s6">
              <img src="images/sample_recipes/Fried-slaw-crack-slaw-recipe-low-carb-keto-nigerian-.jpg" alt="">  
            </div>

            <div class="col s6">
              <img src="images/sample_recipes/recipe0116-xl-farro-with-vinegar-glazed-sweet-potato-and-apples.jpg" alt="">                
            </div>

            <div class="col s6">
              <img src="images/sample_recipes/recipe0116-xl-farro-with-vinegar-glazed-sweet-potato-and-apples.jpg" alt="">                
            </div>
          </div> <!-- thumbnails end -->
    
          <div class="thumbnail-actions"> <!-- action buttons -->
            <a href="#" class="btn waves-ripple"><i class="material-icons">thumb_up</i><span>52</span></a>
            <a href="#" class="btn waves-ripple"><i class="material-icons">thumb_down</i><span>10</span></a>
            <a href="#" class="btn waves-ripple"><i class="material-icons">favorite</i><span>5</span></a>
          </div> <!-- action buttons end-->

          <div id="favorites-icon" style="margin-left:.5rem;margin-top:2rem;">
            <p style="-webkit-margin-after:0;font-size:18px;margin-left:.2rem">Rate and Review</p>  
            <a class="modal-trigger" href="#review-modal"><i class="material-icons">star</i></a>
            <a class="modal-trigger" href="#review-modal"><i class="material-icons">star</i></a>
            <a class="modal-trigger" href="#review-modal"><i class="material-icons">star</i></a>
            <a class="modal-trigger" href="#review-modal"><i class="material-icons">star</i></a>
            <a class="modal-trigger" href="#review-modal"><i class="material-icons">star</i></a>
          </div>      
        </div>
      </div>
    
      <!-- description and reviews -->
      <div style="margin-left:3rem" class="col l7">
          
        <div class=""> <!-- description --> 
          <h5 class="description-section">Description</h5>
          <p>This is a great recipe with an exciting taste. It takes you through an adventure that makes you want to complete it on time and taste it.</p>
        </div>

        <div class="divider"></div>

        <div class="ingredients"> <!-- ingredients -->
          <h5 class="description-section" style="">Ingredients</h5>
          <ul>
            <li><i class="material-icons">chevron_right</i> Water</li>
            <li><i class="material-icons">chevron_right</i>Salt</li>
            <li><i class="material-icons">chevron_right</i>Maggi</li>
            <li><i class="material-icons">chevron_right</i>Fried whatever</li>
          </ul>
        </div>

        <div class="divider"></div>

        <div> <!-- directions -->
          <h5 class="description-section">Directions</h5>
          <ol>
            <li><p>Pour 5 cups of water into a pressure cooker and allow it boil for 10minutes</p></li>
            <li><p>Mix ingredient 1 and ingredient 5 together</p></li>
            <li><p>Ingredients 10 to 15 should be boiled together in another container for 21 minutes</p></li>
            <li><p>Mix step 5 and 6 and allow them to boil for a while</p></li>
            <ll><p>Serve all in a green bold plate</p></li>
          </ol>
        </div>
      </div> <!-- description and directions end --> 
    </div> <!-- row section end -->

    <div class="divider"></div>
    <div id="review-section"> <!-- reviews section start -->
      <div class="row">
        <h5 class="description-section" style="font-size: 2.5rem;text-align:center;margin-bottom:2rem;font-family: 'Raleway';font-style: normal;">Reviews</h5>
        
        <div class="col l4 offset-l4 ">
          <img class="circle" src="images/avatar_img.png" width="50px" alt="">
          <p class="reviewers-name">Adetunmbi Idris</p>
          <div class="divider"></div>
          <div class="section">
            <h5 class="title">A Great Recipe</h5>
            <p class="review-text">
              I made this recipe and it ended great. I actually added some few changes to my own taste, but overall this is a great recipe I advise everyone to try out.
            </p>
          </div>
          <div id="favorites-icon">
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
          </div>
        </div>
      </div>

    </div> <!-- review section end -->
    
  </div>
  
  <footer class="page-footer" style="margin-top:8em;background-color:#444">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      
      </div>
    </div>

  </footer>

  <!-- modals and action buttons -->

  <!-- edit recipe action button -->
  <div class="fixed-action-btn">
    <a href="#edit-recipe-modal" class="btn-floating btn-large modal-trigger">
      <i class="large material-icons">edit</i>
    </a>
  </div>

  <div id="review-modal" class="modal">   <!-- review modal start -->    
    <div class="modal-content">
      <div id="review-form">
        <p>Add a Review</p>
        <form>
          <div class="input-field">
            <textarea id="review-text" type="text" class="materialize-textarea"></textarea>
            <label for="review-text">Your review</label>
          </div>
          <button class="btn waves-effect waves-light">Submit</button>
        </form>
      </div>
    </div>   <!-- review modal end -->  
  </div>

  <div class="modal" id="edit-recipe-modal"> <!--edit recipe modal -->
      <div class="modal-content">
        <div class="container">
          <div class="row">
            <div class="col s12">                       
              <div class="row">
              <form class="col s12">
                  <div>
                    <h5 style="font-family:Raleway">Edit recipe</h5>
                  </div>
                          
                  <div class="row">
                    <div class="input-field col s12">
                        <input id="recipe-title" type="text" value="Ewa Agoyin and Vegetable Soup With Vinegar Varo" class="validate">
                        <label for="recipe-title">Title</label>
                    </div>
          
                    <div class="input-field col s12">
                      <textarea id="recipe-description" class="materialize-textarea" rows="" cols="">This is a great recipe with an exciting taste. It takes you through an adventure that makes you want to complete it on time and taste it.
                      </textarea>
                      <label for="recipe-description">Description</label>
                    </div>
          
                    <div class="input-field col s12">
                      <textarea id="recipe-ingredients" class="materialize-textarea" rows="" cols="">Pour 5 cups of water into a pressure cooker and allow it boil for 10minutes Mix ingredient 1 and ingredient 5 together
                      </textarea>
                      <label for="recipe-ingredients">Ingredients</label>
                    </div>
          
                    <div class="input-field col s12">
                      <textarea id="recipe-directions" class="materialize-textarea" rows="" cols=""></textarea>
                      <label for="recipe-directions">Directions</label>
                    </div>
          
                    <div>
                      <img style="margin-top:2rem;height: 6rem;margin-left: 1rem;" alt="add recipe photo" src="images/photo-video-slr-camera-icon.png" alt="">
                      <p style="font-size: 1.3rem;opacity: 0.7;margin-left: 1.2rem;font-family: Raleway;">Add images</p>
                    </div>
                  </div>
            
                  <div class="row" id="recipe-action-btn" style="margin-top:3rem;margin-bottom:3rem;">
                    <!-- <div class="divider"></div> -->
                    <div class="col m6 s12" style="margin-bottom:2em">
                      <a href="#" id="download-button" class="btn-large waves-effect waves-light" style="text-transform:none; display: block;margin-left: 0px;margin-right: 0px;background-color: #444;">SUBMIT</a>  
                    </div>
          
                    <div class="col m6 s12">
                      <a href="userprofile.html" id="download-button" class="btn-large waves-effect waves-light" style="text-transform:none; display: block;margin-left: 0px;margin-right: 0px;background-color: #444;">CANCEL</a>  
                    </div>
                  </div>
                </form>    
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div> <!-- edit recipe modal end -->
</body>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
</script>
</body>
</html>