<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up - More-Recipes</title>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Open+Sans:400,400i|Raleway+Dots|Raleway:400,400i,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- <link rel="stylesheet" href="css/landing_page.css"> -->
</head>
<body>
  <div class="container" style="margin-top: 1.2em;">
    <div class="row center">
      <div id="logo-container">
        <a href="#" class="brand-logo">
          <img style="margin-right: 0.8em;height: 75px;vertical-align: middle;" src="images/logo.jpg" alt=""> 
          <span style="font-size: 3.0em;font-family:Lato;vertical-align:middle;color:#444;font-style:italic;font-weight:700;">More-Recipes</span>  
        </a>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row" style="margin-top:5em">
    <form class="col s12 m4 offset-m4">
      <div>
        <h5 style="font-family:Raleway">Create an account</h5>
      </div>
    
      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
        
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password_confirm" type="password" class="validate">
          <label for="password_confirm">Confirm Password</label>
        </div>
      </div>

      <div class="row">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light" style="text-transform:none; display: block;margin-left: 8px;margin-right: 8px;background-color: #444;">Sign Up</a>
      </div>
      <p style="text-align:center">Already Have an Account? <a href="signin.html">Sign In</a> </p>

    </form>
  </div>

</body>

<footer class="page-footer" style="margin-top:8em;background-color:#444">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    
    </div>
  </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>