.recipe-details-component {
  $boxShadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  padding: .5rem;
  p {
    line-height: 2rem
  }

  #recipe-author-section {
    div {
      vertical-align: bottom;
      display: inline-block;
    }
    img {
      width: 14%;
      margin: 1rem;
    }
    i {
      font-size: 4rem;
      margin: 1rem;
      color: #444;
    };
    p {
      font-size: 1.2rem;
      margin-top: 0;
    }
    span {
      font-size: 11px;
      opacity: 0.7;
    }
  }
  
  .title {
    font-family: 'Raleway', sans-serif;
    font-size: 1.64rem
  }
  
  #recipe-info {
    margin-top: 1rem;
  }
  
  .container-section {
    width: 90%;
  }
  
  #thumbnails-row img {
    height: 153px;
    margin-bottom: 1rem;
    padding: .2rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    width: 49%;

  }
  
  #thumbnails-row {
    padding: 0 1rem;
    margin-top: 1rem;
  }
  
  .vote-actions .btn {
    padding: 0 1rem;
    margin-left: 1rem;
    background-color: #444;
    &:hover {
      background-color: #2bbbad;      
    }
  }
  
  .vote-actions a i {
    vertical-align: middle;
    margin-right: .3rem;
  }
  
  .description-section {
    margin-left: 3rem;
    margin-top: 3rem;
    h5 {
      font-family: 'Lato';
    }
  }
  
  .ingredients li i {
    vertical-align: bottom;
  }
  
  ol {
    padding: 0;
  }

  .review {
    margin-bottom: 3em;
    box-shadow: $boxShadow;
    padding: 1rem;
    .review-text {
      font-family: 'Dosis';
      font-size: 1.2rem;
      overflow-wrap: break-word;
    };

    .review-details {
      display: inline-block;
      vertical-align: top;
      margin-top: 1rem;
      .date {
        margin-left: 1rem;
        font-size: .9rem;
        color: #6f6a6a;
        vertical-align: text-bottom;
      }
    }

    .reviewers-name {
      display: inline-block;
      vertical-align: bottom;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.2em;
    };
  }
  
  #review-section {
    #review-form {
      margin-bottom: 3rem;
      padding: 0;
    }
    #no-review-text {
      padding: 0;
      font-size: 1.1rem;
      opacity: 0.7;
      font-style: italic;
      font-family: 'Open Sans'
    }
    h5 {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 2rem;
      font-family: 'Raleway';
      font-style: 'normal';
    };
    textarea {
      margin-bottom: .5em;
    };
    button {
      border: 1px solid;
      text-transform: unset;
      background-color: #FFF;
      color: #26a69a;
    }

  }
  
  .recipe-main-img {
    img {
      width: 100%;
      // max-height: 250px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
      padding: .2rem;
    }
  }
}