@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700i');

#navbar-component {
  a, .brand-logo {
    color: #444;
    h5 {
      font-family: 'Lobster Two', cursive;
      display: inline-block;
    }
  };

  .dropdown-button {
    height: 4.3rem;
    i {
      display: inline-block;
      &:nth-child(3) {
        vertical-align: top;
      }
    }
    span {
      vertical-align: top;
      margin-left: .4rem;
    }
    img {
      margin-top: 1rem;
    }
  }

  .brand-logo {
    img {
      height: 56px;
      vertical-align: middle;
    }
    @media only screen and (max-width: 990px) {
      left: 30%
    }
  }
}