nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
}

.parallax-container .section {
    width: 100%;
}

.parallax {
  opacity: 0.6;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

h5 {
  font-family: 'Open Sans', "Roboto", sans-serif;
}

#recipe-gallery {
  width: 90%;
}

#recipe-gallery .card-image img {
  height: 250px;
  padding: .5rem;
}


#recipe-gallery .card-content p {
  display: block;
  display: -webkit-box;
  margin: 0 auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-gallery-links {
  color: #444;
}

.card-action span {
  margin-right: 1.2rem;
  color: #444;
}

.card .card-content .card-title {
  font-size: 19px;
  font-weight: 500;
  display: block;
  display: -webkit-box;
  margin: 0 auto;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2rem;
}

.modal {
  width: 40% !important;
  max-height: 100% !important;
  overflow-y: hidden !important;
}

.card-action span i {
  vertical-align: bottom;
  margin-right: 0.3rem;
}