nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  /* color: rgba(255,255,255,.9); */
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

h5 {
  font-family: 'Open Sans', "Roboto", sans-serif;
}

#recipe-gallery .recipe {
  margin-left: auto;
  right: auto;
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px
}

@media only screen and (max-width : 468px) {
  #recipe-gallery .recipe {
    width: 100%;
  }
  #recipe-gallery {
    margin-left: 2.5em;
    margin-right: 2.5em;
  } 
}

@media only screen and (min-width : 468px) and (max-width : 700px) {
  #recipe-gallery .recipe {
    width: 50%;
  }

  #recipe-gallery {
    margin-left: 3.5em;
    margin-right: 3.5em;
  }
}

@media only screen and (min-width : 700px) and (max-width : 1100px) {
  #recipe-gallery .recipe {
    width: 33.33333333%
  }

  #recipe-gallery {
    margin-left: 4,5em;
    margin-right: 4.5em;
  }
}

@media only screen and (min-width : 1100px) {
  #recipe-gallery .recipe {
    width: 25%;
  }

  #recipe-gallery {
    margin-left: 6em;
    margin-right: 6em;
  }
}

#recipe-gallery .card-image img {
  height: 250px;
  padding: .5rem;
}


#recipe-gallery .card-content p {
  display: block;
  display: -webkit-box;
  margin: 0 auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}



