.auth-component {
  h5 {
    font-family: 'Raleway'
  }

  .input-field {
    margin-bottom: 20px;
    input {
      margin-bottom: 0;      
    }
    span {
      color: red;
    }
  }

  #form-submit {
    text-transform: none;
    display: block;
    background-color: #444;
    width: 100%;
  }

  p {
    text-align: center;
  }
}